:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.leftMargin {
  margin-left: 20px;
}

/* --------------------------------------- Navbar --------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 16px 0;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
ul.navbar.subset {
  display: flex;
}
.navbar.subset li{
  list-style: none;
}
.navbar.subset {
  margin: 0 5%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* --- */
